workflows/FileToVec.json
{
  "name": "FileToVec",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        480
      ],
      "id": "f8e5f2ac-4b8b-4cb8-9a08-8e632ba47768",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1Q8QqhYcNjL8lU0IykaX2giVxa0zyZ7FP",
            "mode": "list",
            "cachedResultName": "RAG2",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1Q8QqhYcNjL8lU0IykaX2giVxa0zyZ7FP"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -64,
        368
      ],
      "id": "6c413d19-ea88-48e3-9cbf-70d37fc22a13",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ulfj05717Q8F9XHN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        464
      ],
      "id": "1f7cc699-0d53-41e6-a3da-4c9cf8dd71ce",
      "name": "Download file",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ulfj05717Q8F9XHN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "abstract-only",
          "mode": "list",
          "cachedResultName": "abstract-only"
        },
        "options": {
          "pineconeNamespace": "filtered-doc"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        640,
        -48
      ],
      "id": "5a5e1d3a-5f04-4fda-8b6e-e223fb42812b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "1D2ZFv3fPnTegr5T",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        736,
        176
      ],
      "id": "90788c9f-3968-42eb-817c-67b559a708b0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 512,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        816,
        384
      ],
      "id": "74a425f6-be30-404f-b1ed-edcde1ecdc48",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Q8QqhYcNjL8lU0IykaX2giVxa0zyZ7FP",
          "mode": "list",
          "cachedResultName": "RAG2",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Q8QqhYcNjL8lU0IykaX2giVxa0zyZ7FP"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        560
      ],
      "id": "1a3754f3-a2d5-41dc-bd73-963f2a1e4c68",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ulfj05717Q8F9XHN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/extract-keyword-pages",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        160
      ],
      "id": "79531168-2d3d-4f41-9eaa-92cca1a6f166",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        176
      ],
      "id": "341d1c4f-54ea-41af-815a-50b30d8c1783",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "w7fFZ5sVSv54rApP",
          "name": "Google Gemini(PaLM) Api account SUNO"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "part5-only",
          "mode": "list",
          "cachedResultName": "part5-only"
        },
        "options": {
          "pineconeNamespace": "filtered-doc"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        832,
        768
      ],
      "id": "55b9a472-fa4b-4968-ba60-dc601ba1e941",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "1D2ZFv3fPnTegr5T",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        736,
        992
      ],
      "id": "6a912c8b-ead0-4bea-9a6c-71c48ed9778a",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 512,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        816,
        1200
      ],
      "id": "ee4ac385-4487-4c50-a37c-f53e5bae650f",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/extract-specific-pages",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        768
      ],
      "id": "ed80364c-17c1-40b3-9d63-82fb3f1c71d6",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        992
      ],
      "id": "668f8fbe-d470-45d5-aab0-95825415de2e",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "w7fFZ5sVSv54rApP",
          "name": "Google Gemini(PaLM) Api account SUNO"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3b390af0-db6c-493e-8cbe-5aa0c780fee8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b0e48f0a6b7180ae77b3a0f9119cb1797ee2837c5f69c99a729081e6052eb38e"
  },
  "id": "JznHaakonyxe9dck",
  "tags": []
}